<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lisää vierailu</title> 
<meta charset="UTF-8" content = text/css>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.css}" />
</head>
<body>
	<h1 class=".text-sm-left">Lisää vierailu:</h1> 
	<div>
		<form th:object="${visit}" th:action="@{savevisit}" method="post" >
		
		
			<label for ="country">Maa:</label>
			 <select class="form-control form-control-lg" id="countryList" th:field="*{country}">
       			<option th:each="country: ${countries}" th:value="${country.countryId}" th:text="${country.countryName}"></option>
    		</select>
    		
    		<br>
    		<label for="vierailija">Vierailija:</label>
    		<select class="form-control form-control-lg" id="personList" th:field="*{person}">
    			<option th:each="person: ${persons}" th:value="${person.personId}" th:text="${person.firstName} + ' '   +   ${person.lastName}"></option>
    		</select>
    		
			<br>
			<label for ="date">Vierailuaika:</label>
			<input type="date" id="date" th:field="*{date}" ></input>
			<br>
			<input type="submit" class="col-sm-10" value="Lisää uusi vierailu"></input>
			
		</form>
		<h1 class=".text-sm-right"><a href="/visitlist">Takaisin alkuun</a> </h1>
	</div>
</body>